<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div>
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div>
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: "0.01" %>
  </div>

  <div>
    <%= form.label :vin %>
    <%= form.text_field :vin %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Car::STATUSES %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
